.article_header_color
    background-color: #d7d7d5 !important

.article-card-header
    margin-left: 0.8rem
    margin-top: 0.7rem

.btn-advanced-search
    background-color: lightgray
    color: #0c63e4

