#col1
    width: 10%
    max-width: 15%

#img1
    width: 100%

#col2
    padding-right: 40px

#row1
    height: 80%

#col3
    height: 70%
    min-height: 90%
    margin-top: 0

#img2
    width: 90%

#row2
    height: 51px
